.loading-screen {
  display: none;
}

.d-header .title .localized-category-link a {
  color: #3987c9;
}

.localized-category-link {
  display: inline-block;
  float: right;
  margin-top: 16px;
  margin-left: 8px;
}

@-webkit-keyframes roll {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes roll {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.locale-reload {
  .loading-screen {
    display: block;
    position: fixed;
    z-index: 100000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background: {
      color: #ffffff;
      repeat: no-repeat;
    }

    .loading-message {
      font-size: 1em;
      margin-top: 60px;
      position: relative;
    }

    .fa.fa-globe {
      font-size: 120px;
      margin-top: 40px;
      -webkit-animation-name: roll;
      animation-name: roll;
      -webkit-animation-timing-function: linear;
      animation-timing-function: linear;
      -webkit-animation-duration: 6s;
      animation-duration: 6s;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      color: #3987c9;
    }
  }
}
